body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Lato', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 80%;
   border-radius: 12px;
   padding: 24px;
   background-image: url('images/Capture23.JPG');
}

.bottom{
    position: sticky;
    height: 100px;
    width:100%;
    background-color: antiquewhite;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    text-align: center;
    margin-top: 14px; 
<<<<<<< Updated upstream
    font-size: 200%;
=======
<<<<<<< Updated upstream
=======
    font-size: 300%;
>>>>>>> Stashed changes
>>>>>>> Stashed changes
}
.icons {
    cursor: pointer;
}

#myProgressBar{
    width: 82vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    width:150%;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px  ;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
  .light-mode{
    background-color: black;
    color: white;
  }
  .light-mode .container{
    background-image: url(images/nostalgia.jpg);
  }
  .light-mode .bottom{
    background-color: black;
    color: antiquewhite;
  }
  footer{
    margin-top:90%;
    margin-bottom:0%;
  }
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
  }
  